<!-- filter.component.html -->
<div id="backgroud"> 
  <b>
    Select View :
</b>
<!-- <label ><input type="radio" name="submitedNotice" value="submitedNotice">Submitted Notice</label>
<label ><input type="radio" name="submitedNotice" value="submitedNotice">Drafted Notice</label> -->
<label> <input type="radio" name="noticeType" value="submitted" [(ngModel)]="selectedOption" (change)="onRadioChange('submitted')" >Submitted</label>
<label>  <input type="radio" name="noticeType" value="drafted" [(ngModel)]="selectedOption" (change)="onRadioChange('drafted')"> Drafted</label>
</div>


<div *ngIf="selectedOption === 'submitted'">

  <h1>submited screen</h1>
</div>

<div *ngIf="selectedOption === 'drafted'">
 
  <app-table-data></app-table-data>
</div>