<table class="table table-bordered" style="border: 1px solid #0f0f0f !important;">
    <thead>
        <tr>
            <td >S.No</td>
            <td >Title Of Notice</td>
            <td > Jurisdistion</td>
            <td >Corporate Function</td>
            <td >Draft pending since</td>
            <td >Status</td>         
            <td >Drafted By</td>                                                 
            <td >Action</td>
        

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let post of posts">
            <td>{{post.id}}</td>
            <td>{{post.TitleOfNotice}}</td>
            <td>{{post.Jurisdiction}}</td>
            <td>{{post.CorporateFunction}}</td>
            <td>{{post.Date}}</td>
            <td>{{post.Status}}</td>
            <td>{{post.DraftedBy}}</td>
            <td style="color: red;">View</td>
        </tr>
    </tbody>
</table>
