#container{
    background-color: blanchedalmond;
 }
 #sbtn{
    background-color: black;
    color: azure;
    border-radius: 4%;
 }
 #fun{
    width: 100%;
    height: 2%;
    /* border: 1px solid black; */
    background-color: bisque;
    margin-top: -22px;
 }
 #nav{
    background-color: rgb(222, 0, 0);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
 }
 #nav-item img{
    width: 110px;
    height: 90px;
    padding-left: 30px;
    padding-top: 15px;
 }
 #nav-item{
    display: flex;
    gap: 1.0em;
    align-items: center;
    justify-items: center;
 }
 #menu{
    border: 1px solid  black;
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 1.2em;
    height: 30px;
 }
 a{
    text-decoration: none;
    color: rgb( 42, 48,52);
 }
 #notice_type{
    display: flex;
    gap:5em;
    align-items: center;
 }
 hr{
    background-color: azure;
    height: 3px;
 }

 td:nth-child(odd){
    width: auto;
 }
 select{
    width: 230px;
    border-radius: 5px;
 }
 