<br>
<div id ="fun">
    <form>
<table>
    <tbody>
        <br> 
        <tr>
            <td>Jurisdistion</td>
            <td>
                <input type="text">&nbsp;
                <img src="https://freesvg.org/storage/img/thumb/Anonymous-Magnifying-glass.png" width="22px" height="20px">&nbsp;
                <img src="https://www.shareicon.net/data/2015/08/12/84026_chart_512x512.png" width="20px" height="18px">&nbsp;
            </td>
            <td>Corporate Function :</td>
            <td><select>
                <option >All</option>
                <option >HR</option>
                <option>Finanaces</option>
            </select></td>
        </tr> <br>
        <tr>
            <td><input type="submit" id="sbtn" value="Apply">&nbsp;<input type="reset" id="sbtn" value="Clear Filter">
            </td>
        </tr>
    </tbody>
</table>
</form>
</div>

<p><b>Draft Notice</b></p>
<app-draft-table></app-draft-table>